<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.materialdesign" 
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="22" />
    
    <uses-permission android:name="android.hardware.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_luncher"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        
        <activity
            android:name=".activity.SplashScreen"
            android:label="@string/app_name" 
            android:theme="@style/MyMaterialTheme"
            android:configChanges="keyboardHidden|orientation"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            
            <intent-filter>
                <action android:name="com.example.materialdesign.acitvity.MainActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
            
        <activity
            android:name=".activity.ImgTest"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.materialdesign.activity.ImgTest" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Add_Edit_RecipeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.materialdesign.activity.Add_Edit_RecipeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CountryRecipeActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.materialdesign.activity.CountryRecipeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CategoryRecipeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.materialdesign.activity.CategoryRecipeActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DetailActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="com.example.materialdesign.activity.DetailActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <receiver android:name=".activity.WidgetProvider" >
            <intent-filter>

                <!-- This widget provider receives broadcast with following action name or simply onUpdate of AppWidgetProvider is called -->
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <!-- linking up xml file of appwidget-provider to AppWidgetProvider -->
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetinfo" />
        </receiver>

        <service
            android:name=".activity.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        
         <activity
            android:name="com.example.materialdesign.activity.NextActivity"
            android:label="Next Screen"
            android:screenOrientation="portrait">
        </activity>
       
        <receiver android:name="com.example.materialdesign.activity.MyReceiver"/>
    </application>

</manifest>
